<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color:blanchedalmond;
        }
    </style>
</head>
<body>
    <p align="center">
        Welcome Admin!
    </p>

    <p align="center">All Recipes:</p>
    <ul th:each="recipe: ${recipes}">
        <li th:text="${recipe.title} + ': ' + ${recipe.content}"></li>
    </ul>
    <p align="center">All Users:</p>
    <ul th:each="user: ${users}">
        <li th:text="${user.name} + ': ' + ${user.username}+ ', '+ ${user.passw}+', '+${user.email}"></li>
    </ul>

    <form action="AdminPage" method="post">
        <input type="text" name="nameuser">
        <input type="submit" value="Delete User" name="DelUser"/>
    </form>
    <form action="AdminPage" method="post">
        <input type="text" name="namerecipe">
        <input type="submit" value="Delete Recipe" name="DelRecipe"/>
    </form>



</body>
</html>