<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-color:blanchedalmond;
        }
    </style>
</head>
<body>

    <p align="center" style="margin-left: 100px">

    <form method="post" action="CreateAccountPage">
        <ul style="list-style: none;" >
            <label for="fullname">Enter your name:</label>
            <li> <input type="text" id="fullname" name="putfullname"></li>
            <label for="username">Enter your username</label>
            <li > <input type="text" id="username" name="putusername"></li>
            <label for="password">Enter password:</label>
            <li> <input type="text" id="password" name="putpassword"></li>
            <label for="email">Enter email</label>
            <li> <input type="text" id="email" name="putemail"></li>
            <li> <input type="submit" name="createaccount" value="Create Account"></li>
        </ul>
    </form>
    </p>


</body>
</html>