<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style >
        body{
            background-color:blanchedalmond;
        }
    </style>
</head>
<body>

    <h align="center">
        Cooking and baking is both physical and mental therapy.

    <form  method="get" action="UserPage">
        <ul style="list-style: none;" >
            <label for="username">Username:</label>
            <li><input type="text" id="username" name="lu"></li>
            <label for="password">Password:</label>
            <li> <input type="password" id="password" name="lp"></li>
            <input type="submit" name="buttonlogin" value="Login">
        </ul>
    </form>

    <form method="get" action="CreateAccountPage">
        <input type="submit"  name="Create account" value="Create Account">
    </form>

    </h>
</body>
</html>