<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-image:url( "cookinhBackground.jpeg");
            background-size:cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <p style="margin-left:100px;margin-top:100px">
    <form  method="post" action="UserPage">
        <ul style="list-style: none;" >
            <label for="username">Username:</label>
            <li><input type="text" id="username" name="loginusername"></li>
            <label for="password">Password:</label>
            <li> <input type="password" id="password" name="loginpassword"></li>
            <input type="submit" name="buttonlogin" value="Login">
        </ul>
    </form>
    <a href="CreateAccountPage.html"> Create an account</a>
    </p>

</body>
</html>